@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

.main {
  display: flex;
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
}
